<input type="hidden" id="groupId" name="groupId" class="form-control hidden" value="{{curGroup._id}}" >
<input type="hidden" id="location" name="location" class="form-control hidden" value="{{location}}" >
<section id="container">
  <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
  <!--header start-->
  <header class="header black-bg">
    <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <a href="" class="logo"><b>On<span>Campus</span></b></a>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
      <!--  notification start -->
      <ul class="nav top-menu">
        <!-- settings start -->
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="/">
            <i class="fa fa-tasks"></i>
            <span class="badge bg-theme">4</span>
          </a>
          <ul class="dropdown-menu extended tasks-bar">
            <div class="notify-arrow notify-arrow-green"></div>
            <li>
              <p class="green">You have 4 pending tasks</p>
            </li>
            <li>
              <a href="/">
                <div class="task-info">
                  <div class="desc">CS545 Final Project</div>
                  <div class="percent">90%</div>
                </div>
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                    aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">90% Complete (success)</span>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="/">
                <div class="task-info">
                  <div class="desc">CS600 HW7</div>
                  <div class="percent">60%</div>
                </div>
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                    aria-valuemax="100" style="width: 60%">
                    <span class="sr-only">60% Complete (warning)</span>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="/">
                <div class="task-info">
                  <div class="desc">CS545 Worksheet3</div>
                  <div class="percent">80%</div>
                </div>
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                    aria-valuemax="100" style="width: 80%">
                    <span class="sr-only">80% Complete</span>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="/">
                <div class="task-info">
                  <div class="desc">CA Exam Grading</div>
                  <div class="percent">70%</div>
                </div>
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                    aria-valuemax="100" style="width: 70%">
                    <span class="sr-only">70% Complete (Important)</span>
                  </div>
                </div>
              </a>
            </li>
            <li class="external">
              <a href="#">See All Tasks</a>
            </li>
          </ul>
        </li>
        <!-- settings end -->
        <!-- inbox dropdown start-->
        <li id="header_inbox_bar" class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="/">
            <i class="fa fa-envelope-o"></i>
            <span class="badge bg-theme">5</span>
          </a>
          <ul class="dropdown-menu extended inbox">
            <div class="notify-arrow notify-arrow-green"></div>
            <li>
              <p class="green">You have 5 new messages</p>
            </li>
            <li>
              <a href="/">
                <span class="photo"><img alt="avatar" src="public/img/ui-zac.jpg"></span>
                <span class="subject">
                  <span class="from">Tianyi Wang</span>
                  <span class="time">Just now</span>
                </span>
                <span class="message">
                  Hi, could I meet you at library?
                </span>
              </a>
            </li>
            <li>
              <a href="/">
                <span class="photo"><img alt="avatar" src="public/img/ui-divya.jpg"></span>
                <span class="subject">
                  <span class="from">Huixiang Xu</span>
                  <span class="time">40 mins.</span>
                </span>
                <span class="message">
                  Hi, I need your help with this.
                </span>
              </a>
            </li>
            <li>
              <a href="/">
                <span class="photo"><img alt="avatar" src="public/img/ui-danro.jpg"></span>
                <span class="subject">
                  <span class="from">Yuting Shao</span>
                  <span class="time">2 hrs.</span>
                </span>
                <span class="message">
                  I finished my part of CS545 Project.
                </span>
              </a>
            </li>
            <li>
              <a href="/">
                <span class="photo"><img alt="avatar" src="public/img/ui-sherman.jpg"></span>
                <span class="subject">
                  <span class="from">Huajie Xu</span>
                  <span class="time">4 hrs.</span>
                </span>
                <span class="message">
                  Please response me asap.
                </span>
              </a>
            </li>
            <li>
              <a href="/">See all messages</a>
            </li>
          </ul>
        </li>
        <!-- inbox dropdown end -->
        <!-- notification dropdown start-->
        <li id="header_notification_bar" class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="/">
            <i class="fa fa-bell-o"></i>
            <span class="badge bg-warning">2</span>
          </a>
          <ul class="dropdown-menu extended notification">
            <div class="notify-arrow notify-arrow-yellow"></div>
            <li>
              <p class="yellow">You have 2 events</p>
            </li>
            <li>
              <a href="/">
                <span class="label label-warning"><i class="fa fa-bell"></i></span>
                CS600 Final Exam.
                <span class="small italic">Due 9:59 pm.</span>
              </a>
            </li>
            <li>
              <a href="/">
                <span class="label label-warning"><i class="fa fa-bell"></i></span>
                CS545 Final Project.
                <span class="small italic">Due 11:59 pm.</span>
              </a>
            </li>

            <li>
              <a href="/">See all notifications</a>
            </li>
          </ul>
        </li>
        <!-- notification dropdown end -->
      </ul>
      <!--  notification end -->
    </div>
    <div class="top-menu">
      <ul class="nav pull-right top-menu">
        <li><a class="logout" href="/signup">Logout</a></li>
      </ul>
    </div>
  </header>
  <!--header end-->



  <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
  <!--sidebar start-->
  <aside>
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered"><a href="profile"><img src="public/img/ui-sam.jpg" class="img-circle" width="80"></a></p>
        <h5 class="centered">Yangyang Liu</h5>
        <li class="mt">
          <a class="active" href="dash">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li class="sub-menu">
          <a href="javascript:;">
            <i class="fa fa-cogs"></i>
            <span>Components</span>
          </a>
          <ul class="sub">
            <li><a href="calendar">Calendar</a></li>
            <li><a href="todo_list">Todo List</a></li>
          </ul>
        </li>

        <li class="sub-menu">
          <a href="javascript:;">
            <i class="fa fa-comments-o"></i>
            <span>Chat Room</span>
            <span class="label label-theme pull-right mail-info">6</span>
          </a>
          <ul class="sub">
            {{#each groups}}
            <li><a href="/{{this._id}}">{{this.name}}</a></li>
            {{/each}}
          </ul>
        </li>
        <li>
          <a href="">
            <i class="fa fa-envelope"></i>
            <span>Mail </span>
            <span class="label label-theme pull-right mail-info">2</span>
          </a>
        </li>
        <li>
          <a href="google_maps">
            <i class="fa fa-map-marker"></i>
            <span>Google Maps </span>
          </a>
        </li>
      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->



  <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper site-min-height">
      <!-- page start-->
<div class="col-sm-12">
  <section class="panel">
    <header class="panel-heading">
      Google Map with Loaction List
    </header>
    <div class="panel-body">
      <!--  pu the map here!!!!-->
        <div id="map"class="canvas_map" style="width: 100%; height: 50%; position: relative; "></div>
       <!-- here map end-->
    </div>
  </section>
</div>
      <div class="chat-room mt">
        <aside class="mid-side">
          <div class="chat-room-head">
            <h3>Chat Room For {{curGroup.name}}</h3>
            <form action="#" class="pull-right position">
              <input type="text" placeholder="Search" class="form-control search-btn ">
            </form>
          </div>
            
          <div class="room-desk">
              <h4 class="pull-left">Chat histroy:</h4>
              {{#messages}}
              <div class="group-rom">
                <div class="first-part odd">Sam Soffes</div>
                <div class="second-part">{{this}}</div>
                <div class="third-part">12:30</div>
              </div>
              {{/messages}}
          
              <div class="room-box">
                <form action="/addMessage" id="messageForm" method="POST">
                  <div class="chat-txt">
                    <input type="hidden" id="id" name="id" class="form-control hidden" value="{{groupId}}" required>
                    <input type="text" id="message" name="message" class="form-control" placeholder="input here"
                      required>
                  </div>

                  <button class="btn btn-theme">Send</button>
                </form>
              </div>
            </div>
        </aside>
        <aside class="right-side">
          <div class="user-head">
            <a href="#" class="chat-tools btn-theme"><i class="fa fa-cog"></i> </a>
            <a href="#" class="chat-tools btn-theme03"><i class="fa fa-key"></i> </a>
          </div>
          <div class="invite-row">
            <h4 class="pull-left">Team Members</h4>
            <a href="#" class="btn btn-theme04 pull-right">+ Invite</a>
          </div>
          <ul class="chat-available-user">
            {{#each members}}
            <li>

              <img class="img-circle" src="public/img/friends/fr-02.jpg" width="32">
              {{this.name}}
              <span class="text-muted">{{this.email}}</span>

            </li>
            {{/each}}
          </ul>
        </aside>
      </div>
      <!-- page end-->
    </section>
    <!-- /wrapper -->
  </section>
  <!--main content end-->


  <!--footer start-->
  <footer class="site-footer">
    <div class="text-center">
      <p>
        &copy; 2019 <strong>Oncampus</strong>
      </p>
      <div class="credits">
        Stevens Institute Of Technology
      </div>
      <a href="/" class="go-top">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>
  </footer>
  <!--footer end-->



</section>
<!-- js placed at the end of the document so the pages load faster -->
<script type="text/javascript">
var curGroup = $("#groupId").val();
var locations = $("#location").val();
const map = new google.maps.Map(document.getElementById('map'), {
    center: { lat: 40.744882, lng: -74.025343 },
    zoom: 18
});
var markers=[];
map.addListener('click', function (e) {
    var inf = prompt("Please enter the event here: ", "Meet me");
    placeMarkerAndPanTo(e.latLng, map, inf);
});

map.addListener('rightclick', function (e) {
    setMapOnAll(null);
}); 

var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
for(let i in locations){
    let marker = new google.maps.Marker({position: { lat: locations[i].lat, lng: locations[i].lng }});
    marker.setMap(map);
    markers.push(marker);
}


///不要动
//var timeout = setInterval(reload, 5000);

function reload() {
  $(function () {
    var requestConfig = {
      method: "GET",
      url: "http://localhost:3000/getLocation/"+curGroup,
    };
    $.ajax(requestConfig).then(function (result) {
      if (result != null) {
        console.log(result);
        let marker = new google.maps.Marker({
          position: { lat: result.lat, lng: result.lng }
        });
        var j = 0;
        for (let index = 0; index < markers.length; index++) {
          if ((result.lat != markers[index].getPosition().toJSON().lat) && (result.lng != markers[index].getPosition().toJSON().lng)) {
            j += 1;
          }
        }
        console.log(j);
        if (j == markers.length) {
          markers.push(marker);
          j = 0;
        }
        markers.push(marker);
        console.log(markers);
      }
    });
  });
  map = new google.maps.Map(document.getElementById('map'), {
    center: { lat: 40.744882, lng: -74.025343 },
    zoom: 18
  });
  map.addListener('click', function (e) {
    console.log(map)
    var inf = prompt("Please enter the event here: ", "Meet me");
    placeMarkerAndPanTo(e.latLng, map, inf);
  });
  map.addListener('rightclick', function (e) {
    setMapOnAll(null);
    markers = [];
  });
}

function placeMarkerAndPanTo(latLng, map, inf) {
  console.log(latLng)
  console.log(map)
  console.log(inf)
  var marker2 = new google.maps.Marker({
    position: latLng,
    map: map,
    title: inf,
    icon: image,
    draggable: true,
  });
  markers.push(marker2);
  var cache = [];
  console.log(marker2.getPosition().toJSON().lat);
  $.ajax({
    type: "post",
    url: "http://localhost:3000/addLocation/"+curGroup,
    dataType: "json",
    data: JSON.stringify({
      "lat": marker2.getPosition().toJSON().lat,
      "lng": marker2.getPosition().toJSON().lng,
      "id":curGroup
    }),
    contentType: "application/json",
    success: function (data, textStatus, xhr) {
      if (!data.error) {
      }
      else
        alert("Server is busy! Try again later...")
    },
  });
  setMapOnAll(map);

}
</script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="public/lib/jquery/jquery.min.js"></script>

<script src="public/lib/bootstrap/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="public/lib/jquery.dcjqaccordion.2.7.js"></script>
<script src="public/lib/jquery.scrollTo.min.js"></script>
<script src="public/lib/jquery.nicescroll.js" type="text/javascript"></script>
<script src="public/lib/jquery.sparkline.js"></script>
<!--common script for all pages-->
<script src="public/lib/common-scripts.js"></script>
<script type="text/javascript" src="public/lib/gritter/js/jquery.gritter.js"></script>
<script type="text/javascript" src="public/lib/gritter-conf.js"></script>
<!--script for this page-->
<script src="public/lib/sparkline-chart.js"></script>
<script src="public/lib/zabuto_calendar.js"></script>
<script src="public/lib/chart-master/Chart.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    var unique_id = $.gritter.add({
      // (string | mandatory) the heading of the notification
      title: 'Welcome to Oncampus!',
      // (string | mandatory) the text inside the notification
      text: 'Stevens Institue Of Technology',
      // (string | optional) the image to display on the left
      image: 'public/img/ui-sam.jpg',
      // (bool | optional) if you want it to fade out on its own or just sit there
      sticky: false,
      // (int | optional) the time you want it to be alive for before fading out
      time: 8000,
      // (string | optional) the class name you want to apply to that specific message
      class_name: 'my-sticky-class'
    });

    return false;
  });
</script>
<script type="application/javascript">
  $(document).ready(function () {
    $("#date-popover").popover({
      html: true,
      trigger: "manual"
    });
    $("#date-popover").hide();
    $("#date-popover").click(function (e) {
      $(this).hide();
    });

    $("#my-calendar").zabuto_calendar({
      action: function () {
        return myDateFunction(this.id, false);
      },
      action_nav: function () {
        return myNavFunction(this.id);
      },
      ajax: {
        url: "show_data.php?action=1",
        modal: true
      },
      legend: [{
        type: "text",
        label: "Special event",
        badge: "00"
      },
      {
        type: "block",
        label: "Regular event",
      }
      ]
    });
  });

  function myNavFunction(id) {
    $("#date-popover").hide();
    var nav = $("#" + id).data("navigation");
    var to = $("#" + id).data("to");
    console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
  }
</script>